/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */



/* centers */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
  background-color: #242424;
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;




 .form-label{
  @apply text-sm  text-gray-400;
 }

 .form-input{
  @apply my-1   rounded-lg py-1 border border-gray-400 focus:outline-none focus:border focus:border-b-blue-400 w-full;
 }

 .form-container{
  @apply flex flex-col 
 }


 .form-btn{
  @apply bg-blue-600 w-full py-1 rounded-lg text-white hover:bg-blue-500 transition-all 
 }