/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* centers */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
  background-color: #242424;
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */

table {
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

.ql-toolbar.ql-snow {
	background: #bfcbda;
	color: white !important;
	border: none;
}

th,
td {
	padding: 10px;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: start;
	z-index: -1;
	/* font-size: 0.875rem 
	line-height: 1.25rem  */
}
td:last-child,
th:last-child {
	position: sticky;
	right: 0;
	/* width: 85px; */
}
td:first-child,
th:first-child {
	position: sticky;
	left: 0px;

	width: 90px;
	padding: 0 10px;
}

th:first-child,
th:last-child {
	z-index: 10;
}
td:first-child,
td:last-child {
	z-index: 1;
}

.stickyRight {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow-y: auto;
}
.stickyBottom {
	position: sticky;
	left: 0;
}
.categorySticky {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
	padding: 10px 0;
}
th {
	border: none;
	z-index: 100;
}

.tableHeading {
	position: sticky;
	top: 0;
	z-index: 10;
}

.tableAction {
	position: sticky;

	/* background-color: white; Set background color as needed */
}
/* loaidng skeletal */
.loader {
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
	position: relative;
	background: #fff;
	box-sizing: border-box;
}
.loader::after {
	content: "";
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	top: 15px;
	left: 15px;
	position: absolute;

	background-image: linear-gradient(
			100deg,
			transparent,
			rgba(255, 255, 255, 0.5) 50%,
			transparent 80%
		),
		linear-gradient(#ddd 56px, transparent 0),
		linear-gradient(#ddd 24px, transparent 0),
		linear-gradient(#ddd 18px, transparent 0),
		linear-gradient(#ddd 66px, transparent 0);
	background-repeat: no-repeat;
	background-size: 75px 130px, 55px 56px, 160px 30px, 260px 20px,
		290px 56px;
	background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
	box-sizing: border-box;
	animation: animloader 1s linear infinite;
}

@keyframes animloader {
	0% {
		background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
	}
	100% {
		background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
	}
}

@keyframes animloader {
	0% {
		background-position: 0% 0, 120px 0, 120px 40px, 120px 80px;
	}
	100% {
		background-position: 100% 0, 120px 0, 120px 40px, 120px 80px;
	}
}
/* loading skeletal end */

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	cursor: grab;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #c8c8c8;
	border-radius: 6px;
	height: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 6px;
}

.dashboardLayout {
	display: grid;
	grid-template-rows: 3rem 1fr;
	height: 100vh;
}

.form-label {
	@apply text-sm  text-gray-400 self-start;
}

.form-input {
	@apply my-1 dark:bg-[#1C1C1C]   rounded-lg py-1 border  border-gray-200 dark:border-gray-800 focus:outline-none  focus:border-b-blue-400 dark:focus:border-b-gray-500 w-full px-2;
}

.form-container {
	@apply flex flex-col;
}

.form-btn {
	@apply bg-blue-600 w-full py-1 rounded-lg text-white hover:bg-blue-500 transition-all;
}
.form-error-text {
	@apply absolute top-[-0.6rem] left-0 text-white bg-red-400 text-center rounded-md  mt-1  text-xs min-w-max py-[0.15rem];
}

.tableContainer {
	@apply shadow-md rounded-lg  font-medium  gap-4  -mx-2;
}
.checkboxStyle {
	@apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.tableActionStyle {
	@apply flex justify-between items-start fixed z-50  mx-6 gap-4 row-start-1 row-span-1;
}
.tableBaginsStyle {
	@apply overflow-y-auto row-start-2 flex flex-col custom-scrollbar;
}
.tableData {
	@apply border border-gray-200 dark:border-neutral-800;
}
